docker run -it --rm -v ${qgis_tile_generator_tool_dir}:/app -v ${src_raster_dir}:/app/raster_gis_files -v ${dst_tile_dir}:/app/public_gis_files -e QT_QPA_PLATFORM=offscreen -e DPI=${dpi} -e EXTEND=${extend} -e METATILESIZE=${metatilesize} -e QUALITY=${quality} -e TILE_FORMAT=${tile_format} -e TILE_HEIGHT=${tile_height} -e TILE_WIDTH=${tile_width} -e TMS_CONVENTION=False -e ZOOM_MAX=${zoom_max} -e ZOOM_MIN=${zoom_min} -e TIF_FILENAME=${tif_filename} --entrypoint ./entrypoint.sh python_qgis:1.0.0
